.idea/encodings.xml
.idea/evoresc.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vs/evoresc/v16/.suo
*.db
*.htm
*.manifest
*.res
*.ilk
*.obj
*.pdb
*.dep
*.idb
*.ncb
*.suo
*.user
